.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0px;
    direction: rtl;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: #19beff;
}
.place-order-left .multi-field{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}

.place-order-left select {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: #19beff;
}
.place-order-left input,
.place-order-left select {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: #19beff;
}
.place-order-submit{
    margin-top: 50px;
    border: none;
    background-color: #19beff;
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.payment h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
.payment .payment-option{
    display: flex;
    align-items: center;
    gap: 10px ;
    border: 1px solid #19beff;
    padding: 15px;
    border-radius: 4px;
    min-width: 300px;
    cursor: pointer;
}
.payment .payment-option:hover{
    background-color:  #ffe7de;
}

.payment-method input[type="radio"] {
    /* Remove default styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #C5C5C5;
    outline-color: #19beff;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.payment-method input[type="radio"]:checked {
    background-color: #19beff;
    border-color: #19beff;
}

.payment-method input[type="radio"]:focus {
    outline: 2px solid #19beff;
}

/* Optionally style the labels to look like buttons */
.payment-method label {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;  /* Add padding between the radio button and the text */
}

.payment-method label + label {
    margin-top: 10px; /* Adds space between the two radio buttons */
}
.payment-method label:hover {
    background-color: #ffe7de;
}

@media (max-width:700px) {
    .place-order{
        flex-direction: column;
    }
}
