.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    direction: rtl;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    margin-right: 20px;
    position: relative; /* Required for absolute positioning of the "X" */
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
    position: absolute; /* Positions the "X" in the top-left corner */
    left: 10px; /* Adjust the position from the left */
    top: 10px;  /* Adjust the position from the top */
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduced gap between label and input */
}

.input-container label {
    font-size: 14px;
    font-weight: bold;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #C9C9C9;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px; /* Ensures input font size matches labels */
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #19beff;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #19beff;
    font-weight: 500;
    cursor: pointer;
}
